.image {
    // Grid Defaults to get images and embeds to work properly
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    // Get rid of gap under images by making them display: inline-block; by default
    display: inline-block;
    vertical-align: middle;

    // modification classes
    &.round {
        border-radius: 50%;
    }

    &.rounded {
        border-radius: 2px;
    }
}
