$topbar-first-level-height: 4.1rem;
$topbar-first-level-button-font-size: $topbar-first-level-height / 3;
$topbar-first-level-button-padding: $topbar-first-level-height / 2.6;
$topbar-second-level-height: 3.5rem;
$topbar-second-level-button-height: 2.11rem;
$topbar-second-level-button-margin: $topbar-second-level-height / 4.2;
$topbar-second-level-button-font-size: $topbar-second-level-height / 3.1;
